@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    text-align: center;
}
.header {
    background-color: rgb(7, 87, 124);
    margin: 0px;
    padding: 10px;
}
h1 {
    color: white;
    margin: 0px;
}
input[type=file]::file-selector-button , input[type=submit]{
    border:none;
    box-shadow:0px 0px 10px rgb(177, 177, 177);
    background-color: #1c6886;
    border-radius:4px;
    padding:5px;
    color: white;
    font-size: 12pt;
    margin-right:10px;
    font-family: "Roboto", sans-serif;
}
.result{
    padding:10px;
    border-radius:5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(202, 202, 202);
    margin: 10px;
    text-align: left;
}
.result h3{
    margin: 0px;
}